:root {
    --midnight: rgb(10, 10, 10);
    --white: rgb(255, 255, 255);
    --white-50: rgb(144, 144, 144);
    --ivory: rgb(193, 178, 172);
    --pinky-ante-midnight: #f9e1d5;
    --header-size: 95px;
    --gabarit: 1400px;
    --gutter: 130px;
}
