:root {
    --midnight: rgb(10, 10, 10);
    --white: rgb(255, 255, 255);
    --white-50: rgb(144, 144, 144);
    --ivory: rgb(193, 178, 172);
    --pinky-ante-midnight: #f9e1d5;
    --header-size: 95px;
    --gabarit: 1400px;
    --half-gabarit: 700px;
    --half-gutter: 65px;
    --gutter: 130px;

	--global--font-size-h1: 120px;
	--global--font-size-h2: 62px;
}
  
@include respond-to("xs-down") {
    :root {
        --header-size: 70px;
        --half-gutter: 15px;
        --gutter: 30px;

	    --global--font-size-h1: 62px;
    }
}