.view {
    height: 100vh;
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.gabarit {
    max-width: var(--gabarit);
    margin-left: auto;
    margin-right: auto;
    padding: 0px var(--gutter);
    width: 100%;
}
